<div class="main">
  <div class="main__menu">
    <div class="main__nav-to-list" (click)="navigateToCompetitions()">
      <img src="assets/plus-icon.png" alt="">
      <span class="main__nav-list-title">
        Competitions
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateToStores()">
      <img src="assets/newspaper-icon.png" alt="">
      <span class="main__nav-list-title">
        Store
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateBotStore()">
      <img src="assets/admin-icon.png" alt="">
      <span class="main__nav-list-title">
        Bot Store
      </span>
    </div>
  </div>
</div>

