<div class="admin-list">
  <div class="admin-list__element-of-list" *ngFor="let admin of getAdminsList()" (click)="showPermissions(admin.name)">
    <div class="admin-list__main-info">
      <span class="admin-list__name">{{admin.name}}</span>
      <div>
        <button class="admin-list__admin-edit-button">edit</button>
        <button class="admin-list__admin-delete-button">delete</button>
      </div>
    </div>
    <div class="admin-list__admin-permissions" *ngIf="admin.name == getCurrentAdmin()">
      <div class="admin-list__admin-permission-element">
        <span class="admin-list__permission-title">Permission 1:</span>
        <span class="admin-list__inactive-permission">on</span>
      </div>
      <div class="admin-list__admin-permission-element">
        <span class="admin-list__permission-title">Permission 2:</span>
        <span class="admin-list__inactive-permission">on</span>
      </div>
      <div class="admin-list__admin-permission-element">
        <span class="admin-list__permission-title">Permission 3:</span>
        <span class="admin-list__inactive-permission">off</span>
      </div>
      <div class="admin-list__admin-permission-element">
        <span class="admin-list__permission-title">Permission 4:</span>
        <span class="admin-list__inactive-permission">off</span>
      </div>
      <div class="admin-list__admin-permission-element">
        <span class="admin-list__permission-title">Permission 5:</span>
        <span class="admin-list__inactive-permission">on</span>
      </div>
    </div>
  </div>
  <button class="admin-list__button">Add Admin</button>
</div>
