<div class="admin-list">
  <div class="admin-list__element-of-list" *ngFor="let admin of getAdminsList()">
    <div class="admin-list__main-info">
      <span class="admin-list__name" (click)="showPermissions(admin.name)">{{admin.name}}</span>
      <div>
        <button class="admin-list__admin-edit-button" (click)="navigateToEditPermissions(admin)" i18n>edit</button>
        <button class="admin-list__admin-delete-button" (click)="deleteAdmin(admin)" i18n>delete</button>
      </div>
    </div>
  </div>
</div>
