@import "../../../styles/colors";

.admin-list{
  display: flex;
  flex-direction: column;
  &__element-of-list{
    background: $secondary_bg_color;
    display: flex;
    align-items: center;
    height: 30%;
    box-sizing: border-box;
    padding-left: 3%;
    padding-right: 3%;
    margin: 10px;
    border-radius: 15px;
    flex-direction: column;
  }
  &__main-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__button{
    background: $button_color;
    color: $button_text_color;
    border-radius: 15px;
    border: none;
    margin: 10px;
    height: 40px;
  }
  &__admin-edit-button{
    background: $button_color;
    color: $button_text_color;
    border-radius: 5px;
    border: none;
    margin: 10px;
    height: 20px;
    width: 50px;
  }
  &__admin-delete-button{
    background: #d91b1b;
    color: $button_text_color;
    border-radius: 5px;
    border: none;
    margin: 10px;
    height: 20px;
    width: 50px;
  }
}
