<div class="my-tokens">
  <div class="my-tokens__wrapper">
    <div class="my-tokens__header">
      <span class="my-tokens__header-title">My Tokens</span>
      <button class="btn btn--outline" (click)="downloadAllElementsStats('get_info_tokens')">download all</button>
    </div>
    <div class="my-tokens__list-elements">
      <div class="my-tokens__element" *ngFor="let token of getTokenList()">
        <span>{{token.tokenName}}</span>
        <button class="btn btn--outline" (click)="downloadCurrentElementStats('get_info_tokens', token.tokenId)">download</button>
      </div>
    </div>
  </div>
</div>
