<form [formGroup]="dataConditionForm" (ngSubmit)="submit()">
  <mat-checkbox formControlName="email">Email</mat-checkbox>

  <mat-checkbox formControlName="phoneNumber">Phone Number</mat-checkbox>

  <mat-checkbox formControlName="ownCondition">Own condition</mat-checkbox>

  <div *ngIf="dataConditionForm.get('ownCondition')?.value === true" formArrayName="otherConditions" class="other-conditions">
    <div *ngFor="let condition of otherConditions.controls; let i = index">
      <div [formGroupName]="i" class="other-conditions__conditions-wrapper">
        <mat-form-field appearance="fill" class="conditions-form-field">
          <mat-label>Label</mat-label>
          <input matInput formControlName="label" class="data-input">
        </mat-form-field>
        <div style="height: 10px;"></div>
        <div class="other-conditions__conditions-type">
          <mat-form-field appearance="fill" class="conditions-form-field">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="text">Text</mat-option>
              <mat-option value="image">Image</mat-option>
              <mat-option value="link">Link</mat-option>
              <mat-option value="video">Video</mat-option>
              <mat-option value="number">Number</mat-option>
            </mat-select>
          </mat-form-field>

          <button (click)="removeOtherCondition(i)" class="other-conditions__remove-button">
            <img src="assets/trash-icon.svg" alt="" class="other-conditions__remove-button-icon">
          </button>
        </div>
      </div>
    </div>

    <button class="btn btn--fluid mt-2" type="button" (click)="addOtherCondition()" [disabled]="this.otherConditions.length === 3">Add Condition</button>
  </div>

<!--  <button mat-raised-button>submit</button>-->
</form>
