<div class="save-permissions">
  <form [formGroup]="permissionsForm" (ngSubmit)="setPermissions(permissionsForm)" class="form">
    <mat-slide-toggle color="accent" formControlName="selectAdminFromList" class="slide-toggle" i18n>Select Admin from the list</mat-slide-toggle>
    <mat-slide-toggle color="accent" formControlName="actionWithCompetition" class="slide-toggle" i18n>Create competition and getting result</mat-slide-toggle>
    <mat-slide-toggle color="accent" formControlName="editPermission" class="slide-toggle down" i18n>Edit permissions</mat-slide-toggle>
  </form>
</div>
