<div class="competition-participation">
  <div class="competition-participation__wrapper">
    <img *ngIf="checkingUsersInfo" ngSrc="assets/winter.gif" alt="" height="64" width="64">
    <img *ngIf="successParticipation" ngSrc="assets/beating-heart.gif" alt="" height="64"
         width="64">
    <img *ngIf="failAlreadyParticipation" ngSrc="assets/ghost.gif" alt="" height="64"
         width="64">
    <img *ngIf="failParticipationBySubscribe" ngSrc="assets/ghost.gif" alt="" height="64"
         width="64">
    <img *ngIf="failParticipationByTime" ngSrc="assets/ghost.gif" alt="" height="64"
         width="64">
    <span *ngIf="successParticipation">Good luck</span>
    <span *ngIf="failParticipationByTime">Contest was end</span>
    <span *ngIf="failParticipationBySubscribe">You have not all subscribe</span>
    <span *ngIf="failAlreadyParticipation">You have already participant</span>
  </div>
</div>

