<div class="competition-creator">
  <div class="competition-creator__wrapper">
    <span class="competition-creator__title">Create newsletter</span>
    <div class="competition-creator__main-form">
      <form [formGroup]="form" (ngSubmit)="pushNewsLetter(form)" class="form">
        <div class="competition-creator__describe-block">
          <label>Enter news letter message</label>
          <textarea class="competition-creator__textarea-description" formControlName="newsLetterMessage"></textarea>
        </div>
        <div class="competition-creator__describe-block">
          <label>Enter media links</label>
          <input type="file" (change)="onFileSelected($event)">
          <p *ngIf="form.controls['media'].hasError('invalidFileType')">Only photo and video is allowed here</p>
        </div>
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="startDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="competition-creator__date-format" [class.__failed]="failedDateValidation">
          <label>Enter contest start time in format: hh:mm</label>
          <input class="competition-creator__input-name" formControlName="competitionStartTime">
          <label *ngIf="failedDateValidation" class="competition-creator__error-message">enter valid time format</label>
        </div>
        <div class="competition-creator__date-format">
          <label>Enter link for inline button: </label>
          <input class="competition-creator__input-name" formControlName="inlineLink">
        </div>
        <div class="competition-creator__list-of-channels">
          <div *ngFor="let channels of getSelectedChannels()" class="competition-creator__element-of-channels-list">
            <span>{{channels.name}}</span>
          </div>
        </div>
        <button type="submit" class="competition-creator__button" [disabled]="!form.valid">create competition</button>
      </form>
    </div>
  </div>
</div>

