@import "../../../styles/colors";


:host{

  .competition-participation{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    background: $body_bg_color_dark_theme !important;
    align-items: center;
    &__wrapper{
      background: $element_bg_color_dark_theme;
      color: #ffffff !important;
      width: 300px;
      box-sizing: border-box;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      flex-direction: column;
      border-radius: 25px;
    }
    &__success-state{
      background: $active_element_bg_color_dark_theme;
      color: #ffffff !important;
      width: 300px;
      height: 300px;
      box-sizing: border-box;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 10px;
      flex-direction: column;
      border-radius: 25px;
    }
    &__question{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__question-label{
      font-size: 14px;
    }
    &__success-state-title{
      color: $text_color_dark_theme;
    }
    &__loading-button{
      animation: rotate 2s linear infinite;
    }
  }
}

::ng-deep {

  .mat-mdc-text-field-wrapper{
    background: $body_bg_color_dark_theme !important;
    border-radius: 15px !important;
  }

  .mdc-floating-label{
    color: $hint_color_dark_theme_v2 !important;
  }

  .token-name-input{
    color: $text_color_dark_theme_v2 !important;
  }

  .mat-mdc-form-field-hint{
    border: 0.5px solid #ffffff !important;
    background: $body_bg_color_dark_theme !important;
    color: #ffffff !important;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -10px;
  }

  .mdc-button{
    background: linear-gradient(91.15deg, #16AB83 4.75%, #118264 65.64%) !important;
    width: 100% !important;
    border-radius: 15px !important;
  }
}
