<div class="competition-participation">
  <div class="competition-participation__wrapper">
    <form [formGroup]="form" (ngSubmit)="addParticipation(form)" class="form" *ngIf="enterAnswer">
      <div *ngIf="conditionsValueEmail" class="competition-participation__input-block">
        <label>{{conditionsValueEmail}}</label>
        <input class="competition-participation__input-name" formControlName="email"/>
      </div>
      <div *ngIf="conditionsValuePhone" class="competition-participation__input-block">
        <label>{{conditionsValuePhone}}</label>
        <input class="competition-participation__input-name" formControlName="phone"/>
      </div>
      <div *ngIf="conditionsValueSelfCondition" class="competition-participation__input-block">
        <label>{{conditionsValueSelfCondition}}</label>
        <input class="competition-participation__input-name" formControlName="selfAnswer"/>
      </div>
      <div *ngIf="conditionsGuessNumber" class="competition-participation__input-block">
        <label>{{conditionsGuessNumber}}</label>
        <input class="competition-participation__input-name" formControlName="guessedNumber"/>
      </div>
      <button type="submit" class="competition-participation__button">participate</button>
    </form>
    <img *ngIf="successParticipation" ngSrc="assets/beating-heart.gif" alt="" height="64" width="64">
  </div>
</div>

