<div class="edit-permissions">
  <div class="edit-permissions__wrapper">
    <span class="edit-permissions__title">{{getAdmin().name}}</span>
    <button (click)="addChat()" class="edit-permissions__action-button" i18n>add chat</button>
    <div class="edit-permissions__admin-chats">
      <div class="edit-permissions__element-of-list" *ngFor="let chat of getChatList()">
        <div>
          <div class="edit-permissions__header-element-of-list">
            <span class="edit-permissions__name">{{chat.name}}</span>
          </div>
        </div>
        <div class="edit-permissions__chat-permissions">
          <app-chat-permissions [chatId]="chat.chatId"></app-chat-permissions>
        </div>
      </div>
    </div>
  </div>
  <button (click)="savePermissions()" class="edit-permissions__action-button" i18n>save current chats permissions</button>
</div>
