@import "../../../styles/colors";

:host{
  .modal-window{
    height: 100%;
    width: 100%;
    display: flex;
    background: $element_bg_color_dark_theme;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    &__button{
      background: $button_bg_color_dark_theme;
      color: $button_text_color;
      border-radius: 15px;
      border: none;
      width: 100%;
      height: 40px;
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
    &__title{
      color: $text_color_dark_theme_v2;
      margin: 10px;
      font-weight: 700;
    }
    &__subtitle{
      color: $text_color_dark_theme;
    }
    &__token-exist-warning-wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .example-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
