<div class="modal-window">
  <form class="example-form" [formGroup]="form" (ngSubmit)="deleteToken(form)">
    <span class="modal-window__title">
      <span class="modal-window__subtitle">Delete</span> Token
    </span>
    <mat-form-field class="example-full-width token-name-confirm-input">
      <mat-label>confirm token name</mat-label>
      <input matInput #message maxlength="32" placeholder="cucumber" class="token-name-input" formControlName="tokenName">
    </mat-form-field>
    <button type="submit" class="modal-window__button" [disabled]="form.invalid">delete</button>
  </form>
</div>
