@import "../../../styles/colors";


:host{

  .chat-guard-setting{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100vh;
    &__title{
      width: 90%;
      border-radius: 0 0 12px 12px;
      background: $element_bg_color_dark_theme;
      color: #ffffff;
      padding: 10px;
      text-align: center;
      box-sizing: border-box;
      position: relative;
    }
    &__wrapper{
      display: flex;
      flex-direction: column;
      margin-top: 5px;
      width: 100%;
      height: 100%;
      align-items: center;
    }
    &__element-title{
      width: 100%;
      color: #ffffff;
      font-family: "Inter", sans-serif;
    }
    &__main-setting-elements{
      width: 90%;
      background: $element_bg_color_dark_theme;
      border-radius: 12px;
      box-sizing: border-box;
    }
    &__element{
      width: 90%;
      display: flex;
      flex-direction: row;
      margin-top: 4px;
      background: $element_bg_color_dark_theme;
      padding: 13px;
      box-sizing: border-box;
      border-radius: 12px;
      color: $text_color_dark_theme_v2;
      justify-content: space-between;
      align-items: center;
    }
    &__subelement{
      display: flex;
      align-items: center;
      flex-direction: row;
    }
    &__element-subtitle{
      color: $text-color_dark_theme;
    }
  }

  .main-setting-form{
    display: flex;
    flex-direction: column;
  }

  .chatguard-form-setting{
    display: flex;
    flex-direction: column;
  }

  .slide-toggle{
    padding: 12px;
    border-bottom: 1px solid #8E8E8E;
  }

  .end{
    border: none;
  }
}

::ng-deep{
  .mat-mdc-slide-toggle .mdc-form-field {
    color: var(--mdc-theme-text-primary-on-background, rgb(255, 255, 255)) !important;
  }
}


.mat-mdc-slide-toggle.mat-accent {
  --mdc-switch-selected-track-color: #191919;
  --mdc-switch-selected-handle-color: rgb(21, 161, 123);
  --mdc-switch-selected-hover-track-color: #191919;
  --mdc-switch-selected-hover-handle-color: #15A17BFF;
  --mdc-switch-selected-pressed-track-color: #191919;
  --mdc-switch-selected-focus-track-color: #191919;
  --mdc-switch-selected-focus-handle-color: #15A17BFF;
  --mdc-switch-selected-focus-state-layer-color: #15A17BFF;
  --mdc-switch-selected-hover-state-layer-color: #15A17BFF;
  --mdc-switch-selected-pressed-state-layer-color: #15A17BFF;
  --mdc-switch-selected-pressed-handle-color: #15A17BFF;
  --mdc-switch-unselected-track-color: #191919;
  --mdc-switch-unselected-handle-color: rgb(121, 31, 19);
}
