<div class="main">
  <div class="main__menu">
    <div class="main__nav-to-list" (click)="navigateToCanParticipate()">
      <img src="assets/user-webapp/competitions/can-participate.svg" alt="">
      <span class="main__nav-list-title">
        Can Participate
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateToParticipating()">
      <img src="assets/my-competition-icons/active-competition-icon.svg" alt="">
      <span class="main__nav-list-action-title">
        Participating
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateToWasParticipant()">
      <img src="assets/user-webapp/competitions/was-participant.svg" alt="">
      <span class="main__nav-list-title">
        Was Participant
      </span>
    </div>
  </div>
</div>

