
$indents: 0.5rem, 1rem, 2rem;

.mt-1{
  margin-top: nth($indents, 1);
}

.mt-2{
  margin-top: nth($indents, 2);
}

.mt-3{
  margin-top: nth($indents, 3);
}

.mb-1{
  margin-bottom: nth($indents, 1);
}

.mb-2{
  margin-bottom: nth($indents, 2);
}

.mb-3{
  margin-bottom: nth($indents, 3);
}

.mr-1{
  margin-right: nth($indents, 1);
}

.pl-3{
  padding-top: 3px;
  padding-bottom: 3px;
}
