@import "../../../../styles/colors";

:host{
  .admin-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__element-of-list{
      background: $element_bg_color_dark_theme;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 15px 5%;
      color: $text_color_dark_theme_v2;
      align-items: center;
      margin-bottom: 10px;
      border-radius: 10px;
      flex-direction: row;
      width: 90%;
    }
    &__selected-element-of-list{
      background: $active_element_bg_color_dark_theme;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 15px 5%;
      color: $text_color_dark_theme_v2;
      align-items: center;
      margin-bottom: 10px;
      border-radius: 10px;
      flex-direction: row;
      width: 90%;
    }
    &__main-info{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    &__admin-permissions{
      box-sizing: border-box;
      padding: 10px;
      border-radius: 10px;
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
      background: $bg_color;
    }
    &__admin-permission-element{
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: 3px;
    }
    &__active-permission{
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px;
      border-radius: 5px;
      background: #029b1d;
    }
    &__inactive-permission{
      width: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2px;
      border-radius: 5px;
      background: #e70909;
    }
    &__button{
      background: $button_bg_color_dark_theme;
      color: $button_text_color;
      border-radius: 10px;
      width: 90%;
      border: none;
      margin: 10px;
      height: 40px;
      &:disabled {
        background: linear-gradient(91.15deg, rgba(22, 171, 131, 0.5) 4.75%, rgba(17, 130, 100, 0.5) 65.64%);
        cursor: not-allowed;
      }
    }
    &__admin-edit-button{
      background: $button_color;
      color: $button_text_color;
      border-radius: 5px;
      border: none;
      margin: 10px;
      height: 20px;
      width: 50px;
    }
    &__admin-delete-button{
      background: #d91b1b;
      color: $button_text_color;
      border-radius: 5px;
      border: none;
      margin: 10px;
      height: 20px;
      width: 50px;
    }
    &__select-button{
      width: 20px;
      height: 20px;
    }
    &__title{
      text-align: center;
      color: $text_color_dark_theme_v2;
      background: $element_bg_color_dark_theme;
      width: 80%;
      font-family: "Inter", sans-serif;
      font-size: 14px;
      padding: 15px;
      border-radius: 0 0 10px 10px;
      margin-bottom: 10px;
    }
  }
}
