<div class="admin-list">
  <span class="admin-list__title">Select more then one channel/chat</span>
  <div class="admin-list__element-of-list" *ngFor="let telegramEntity of getChannelsList()" (click)="selectTelegramEntity(telegramEntity)">
    <div>
      <span class="admin-list__name">{{telegramEntity.name}}</span>
    </div>
    <div>
      <img src="assets/selector-active.svg" class="admin-list__select-button" *ngIf="telegramEntity.selected">
      <img src="assets/selector-inactive.svg" class="admin-list__select-button" *ngIf="!telegramEntity.selected">
    </div>
  </div>
  <button [disabled]="checkSelectedElements()" class="admin-list__button" (click)="navigateToAddNewChannels()" [class.disabled]="!selectElementsExist">continue</button>
</div>
