<div class="main">
  <div class="main__menu">
    <div class="main__nav-to-list" (click)="navigateToCompetitionCreator()">
      <img src="assets/plus-icon.png">
      <span class="main__nav-list-title">
        <span class="main__colored-title">Create</span> Competition
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateToCompetitionsList()">
      <img src="assets/newspaper-icon.png">
      <span class="main__nav-list-title">
        <span class="main__colored-title">News</span> Letter
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateToAdminsList()">
      <img src="assets/admin-icon.png">
      <span class="main__nav-list-title">
        <span class="main__colored-title">Admins</span> List
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateToTokensPage()">
      <img src="assets/newspaper-icon.png">
      <span class="main__nav-list-title">
        <span class="main__colored-title">My</span> Tokens
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateToCompetitionList()">
      <img src="assets/newspaper-icon.png">
      <span class="main__nav-list-title">
        <span class="main__colored-title">My</span> Competitions
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateToStore()">
      <img src="assets/newspaper-icon.png">
      <span class="main__nav-list-title">
        <span class="main__colored-title">My</span> Store
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateToMyDatabase()">
      <img src="assets/newspaper-icon.png">
      <span class="main__nav-list-title">
        <span class="main__colored-title">My</span> Database
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateToChatGuard()">
      <img src="assets/newspaper-icon.png">
      <span class="main__nav-list-title">
        <span class="main__colored-title">My</span> ChatGuard
      </span>
    </div>
  </div>
</div>

