<div class="main">
  <div class="main__menu">
    <div class="main__nav-to-list" (click)="navigateToAdminsList()">
      <span class="main__nav-list-title">
        admin list
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateToChannelsList()">
      <span class="main__nav-list-title">
        channels list
      </span>
    </div>
    <div class="main__nav-to-list" (click)="navigateToChatsList()">
      <span class="main__nav-list-title">
        chats list
      </span>
    </div>
    <div>
      <app-language-selector></app-language-selector>
    </div>
  </div>
</div>
