<div class="admin-list">
  <div class="admin-list__title-wrapper">
    <span class="admin-list__title">Add <span class="admin-list__subtitle">chat</span></span>
  </div>
  <div class="admin-list__element-of-list" *ngFor="let telegramEntity of getChannelsList()">
    <div class="admin-list__header-element-of-list-wrapper">
      <div class="admin-list__header-element-of-list" [class.selected]="telegramEntity.selected">
        <span class="admin-list__name">{{telegramEntity.name}}</span>
      </div>
      <button class="admin-list__select-button" [class.selected]="telegramEntity.selected" (click)="selectTelegramEntity(telegramEntity)" >
        <img src="assets/selector-active.svg" *ngIf="telegramEntity.selected" alt="">
        <img src="assets/selector-inactive.svg" *ngIf="!telegramEntity.selected" alt="">
      </button>
    </div>
    <div class="admin-list__chat-permissions">
      <app-chat-permissions [chatId]="telegramEntity.id"></app-chat-permissions>
    </div>
  </div>
  <button [disabled]="!selectElementsExist" class="btn btn--fluid" (click)="navigateToAddNewChannels()" [class.disabled]="!selectElementsExist">add this chats</button>
</div>
