@import "../../../styles/colors";

:host{
  .competition-creator{

    box-sizing: border-box;
    padding: 8px;

    &__wrapper{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__button-wrapper {
      box-sizing: border-box;
      width: 100%;
      padding: 10px 20px;
    }
    &__input-name{
      border-radius: 15px;
      margin-top: 10px;
      height: 40px;
      transition: 0.2s;
      box-sizing: border-box;
      padding-left: 10px;
      border: 1px solid $button_color;
      &:focus{
        outline: none;
        border: 3px solid $button_color;
      }
    }
    &__textarea-description{
      width: 90%;
      height: 400px;
      padding: 20px;
      margin-top: 5px;
      box-sizing: border-box;
      border-radius: 15px;
      resize: none;
    }
    &__header-wrapper{
      border-radius: 15px;
      background: $element_bg_color_dark_theme;
      display: flex;
      box-sizing: border-box;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 8px;
    }
    &__title-wrapper{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80px;
      border-radius: 15px 15px 0 0;
      background: $button_disabled_bg_color_dark_theme;
    }
    &__button{
      background: $button_color;
      color: $button_text_color;
      border-radius: 15px;
      border: none;
      margin: 10px;
      height: 40px;
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    &__selector-button{
      background: $button_color;
      color: $button_text_color;
      border-radius: 15px;
      border: none;
      padding: 5px;
      box-sizing: border-box;
    }

    &__conditions-block{
      width: 100%;
      box-sizing: border-box;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &__list-of-channels{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &__element-of-channels-list{
      background: $secondary_bg_color;
      display: flex;
      align-items: center;
      height: 30%;
      box-sizing: border-box;
      padding-left: 3%;
      padding-right: 3%;
      margin: 10px;
      border-radius: 15px;
      flex-direction: column;
    }

    &__error-message{
      color: #d91b1b;
      margin-left: 10px;
      margin-top: 5px;
    }

    &__date-format{
      margin-top: 10px;
    }

    &__date-format.__failed input{
      border: 3px solid #d91b1b;
    }


    &__describe-block{
      margin-top: 10px;
    }
    &__title{
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: center;
      font-size: 18px;
      font-weight: 700;
      font-family: "Inter", sans-serif;
      color: $text_color_dark_theme_v2;
    }
    &__subtitle{
      color: $text-color_dark_theme;
    }
    &__name-block{
      display: flex;
      flex-direction: column;
    }
    &__describe-block{
      display: flex;
      flex-direction: column;
    }
    &__date-format{
      display: flex;
      flex-direction: column;
    }
    &__language-selector{
      margin-top: 10px;
      display: flex;
      flex-direction: column;
    }
    &__condition-selector{
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__conditions{
      width: 100%;
      margin: 5px;
      background: $secondary_bg_color;
      border-radius: 5px;
    }
    &__guess-number-condition{
      width: 100%;
      margin: 5px;
      background: $secondary_bg_color;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      padding: 10px;
    }
    &__self-condition-builder{
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 20px;
    }
    &__guess-number{
      display: flex;
      flex-direction: column;
    }
    &__checkbox-text{
      color: $button_text_color;
    }
  }

  .form{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
  }
}

.formControl.ng-invalid {
  border: 2px solid red;
}

.mdc-form-field .mdc-label{
  color: $button_text_color;
}

::ng-deep {

  .mat-mdc-text-field-wrapper{
    background: $element_bg_color_dark_theme !important;
    border-radius: 15px !important;
    //border: 1px solid $text_color_dark_theme_v2;
  }

  .mdc-floating-label{
    color: $hint_color_dark_theme_v2 !important;
  }

  .form-input-field{
    color: $text_color_dark_theme_v2 !important;
  }

  .mat-mdc-form-field-hint{
    border: 0.5px solid #ffffff !important;
    background: $element_bg_color_dark_theme !important;
    color: #ffffff !important;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -10px;
  }
}
