<div class="admin-list">
  <span *ngIf="!selectElementsExist">select more then one channel/chat</span>
  <div class="admin-list__element-of-list" *ngFor="let telegramEntity of getChannelsList()" (click)="selectTelegramEntity(telegramEntity)">
    <div>
      <span class="admin-list__name">{{telegramEntity.name}}</span>
    </div>
    <div>
      <span>type: {{telegramEntity.type}}</span>
    </div>
    <div>
      <span>selected: {{telegramEntity.selected}}</span>
    </div>
    <div>
      <img src="./assets/check-mark.png" class="admin-list__select-button" *ngIf="telegramEntity.selected">
    </div>
  </div>
  <button [disabled]="selectElementsExist" class="admin-list__button" (click)="navigateToAddNewChannels()">continue</button>
</div>
