<div class="my-database">
  <div class="my-database__title">
    <span>My <span>Database</span></span>
  </div>
  <div class="my-database__wrapper">
    <div class="my-database__element" (click)="navigateToMyChannels()">
      <img src="assets/chats.svg" alt="">
      <span class="my-database__element-title">My <span class="my-database__element-subtitle">Channels</span></span>
    </div>
    <div class="my-database__element" (click)="navigateToMyTokens()">
      <img src="assets/tokens-gray.svg" alt="">
      <span class="my-database__element-title">My <span class="my-database__element-subtitle">Tokens</span></span>
    </div>
  </div>
</div>
