<div class="admin-list">
  <div class="admin-list__adding-form">
    <form class="example-form" [formGroup]="form" (ngSubmit)="addToken(form)">
      <mat-form-field class="example-full-width">
        <mat-label>TOKEN</mat-label>
        <input matInput #message maxlength="32" placeholder="cucumber">
        <mat-hint align="start"><strong>Enter name for your token</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 32</mat-hint>
      </mat-form-field>
      <button type="submit" class="admin-list__button">add</button>
    </form>
  </div>
  <div class="admin-list__element-of-list" *ngFor="let telegramEntity of getChannelsList()" (click)="selectTelegramEntity(telegramEntity)">
    <div>
      <span class="admin-list__name">{{telegramEntity.name}}</span>
    </div>
    <div>
      <img src="assets/check-mark.png" class="admin-list__select-button" *ngIf="telegramEntity.selected" alt="">
    </div>
  </div>
  <button [disabled]="!selectElementsExist" class="admin-list__button" (click)="navigateToSetupToken()" [class.disabled]="!selectElementsExist">setup token</button>
  <!--  <button class="admin-list__button" (click)="navigateToAddNewChannels()">next</button>-->
</div>
