@import "../../../styles/colors";

:host{
  .token-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__element-of-list{
      background: $secondary_bg_color;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 10px 3%;
      margin: 10px;
      border-radius: 15px;
      flex-direction: row;
    }
    &__adding-form{
      background: $element_bg_color_dark_theme;
      display: flex;
      box-sizing: border-box;
      padding: 10px 3%;
      margin: 10px;
      border-radius: 15px;
      flex-direction: column;
    }
    &__button{
      background: $button_bg_color_dark_theme;
      color: $button_text_color;
      border-radius: 15px;
      border: none;
      margin: 10px;
      width: 92%;
      height: 40px;
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
    &__tokens{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__token-element-wrapper{
      display: flex;
      flex-direction: row;
      width: 90%;
    }
    &__token-element{
      display: flex;
      width: 90%;
      align-items: center;
      margin-bottom: 5px;
      margin-right: 5px;
      box-sizing: border-box;
      padding: 15px 5px 15px 15px;
      height: 50px;
      border-radius: 10px;
      justify-content: space-between;
      background: $element_bg_color_dark_theme;
    }
    &__trash-element{
      background: $delete-button_color_v2;
      width: 12%;
      height: 50px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__chat-element{
      background: linear-gradient(91.15deg, rgba(22, 171, 131, 0.5) 4.75%, rgba(17, 130, 100, 0.5) 65.64%);
      height: 30px;
      border: none;
      color: #FFFFFF;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 5px;
      position: relative;
    }
    &__token-title{
      color: $button_text_color;
    }
    &__alert-icon{
      width: 20px;
      height: 20px;
      margin: 3px;
    }
    &__chats-amount{
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: #FFFFFF;
      color: #191919;
      border: 1px solid black;
      top: 0;
      right: 0;
      margin-top: -12px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -12px;
      position: absolute;
    }
    &__invalid-token-message{
      margin: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 10px;
      background-color: rgba(227, 15, 15, 0.34);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &__valid-token-message{
      margin: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 10px;
      background-color: rgba(79, 203, 101, 0.47);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &__delete-button{
      width: 20px;
      height: 20px;
    }

    &__title{
      color: $text_color_dark_theme_v2;
      font-family: "Inter", sans-serif;
      font-weight: 700;
    }
    &__subtitle{
      color: $text_color_dark_theme;
    }
    &__token-icon{
      margin-bottom: 10px;
      margin-top: 5px;
    }
  }

  .example-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

::ng-deep {

  .mat-mdc-form-field.token-name-input{
    margin-top: 10px;
    width: 92%;
  }

  .mat-mdc-form-field.token-name-confirm-input{
    margin-top: 10px;
    width: 100%;
  }

  .mat-mdc-text-field-wrapper{
    background: $body_bg_color_dark_theme !important;
    border-radius: 15px !important;
  }

  .mdc-floating-label{
    color: $hint_color_dark_theme_v2 !important;
  }

  .token-name-input{
    color: $text_color_dark_theme_v2 !important;
  }

  .mat-mdc-form-field-hint{
    border: 0.5px solid #ffffff !important;
    background: $body_bg_color_dark_theme !important;
    color: #ffffff !important;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: -10px;
  }

  .mat-mdc-dialog-container{
    border-radius: 20px;
  }

  .back-drop{
    backdrop-filter: blur(4px);
  }
}
