@import "../../../styles/colors";

:host{
  .token-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__element-of-list{
      background: $secondary_bg_color;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 10px 3%;
      margin: 10px;
      border-radius: 15px;
      flex-direction: row;
    }
    &__adding-form{
      background: $secondary_bg_color;
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 10px 3%;
      margin: 10px;
      border-radius: 15px;
      flex-direction: column;
    }
    &__button{
      background: linear-gradient(91.15deg, #16AB83 4.75%, #118264 65.64%);
      color: $button_text_color;
      border-radius: 15px;
      border: none;
      margin: 10px;
      height: 40px;
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }
    &__tokens{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__token-element{
      position: relative;
      display: flex;
      width: 70%;
      justify-content: center;
      align-items: center;
      margin: 3px;
      box-sizing: border-box;
      padding: 10px;
      border-radius: 5px;
      background: linear-gradient(91.15deg, #16AB83 4.75%, #118264 65.64%);
    }
    &__token-title{
      color: $button_text_color;
    }
    &__alert-icon{
      width: 20px;
      height: 20px;
      margin: 3px;
    }
    &__invalid-token-message{
      margin: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 10px;
      background-color: rgba(227, 15, 15, 0.34);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &__valid-token-message{
      margin: 10px;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 10px;
      background-color: rgba(79, 203, 101, 0.47);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    &__delete-button{
      position: absolute;
      top: 0;
      right: 0;
      margin-top: -10px;
      margin-right: -10px;
      width: 30px;
      height: 30px;
    }
  }

  .example-form{
    display: flex;
    flex-direction: column;
  }
}
