<div class="token-list">
  <div class="token-list__adding-form">
    <form class="example-form" [formGroup]="form" (ngSubmit)="addNewToken(form)">
      <mat-form-field class="example-full-width">
        <mat-label>TOKEN</mat-label>
        <input matInput #message maxlength="32" placeholder="cucumber" formControlName="tokenName">
        <mat-hint align="start"><strong>Enter name for your token</strong> </mat-hint>
        <mat-hint align="end">{{message.value.length}} / 32</mat-hint>
      </mat-form-field>
      <button type="submit" class="token-list__button">add</button>
    </form>
    <div class="token-list__invalid-token-message" *ngIf="invalidTokenState()">
      <img src="assets/alert.png" class="token-list__alert-icon" alt="">
      <span>this token was added</span>
    </div>
    <div class="token-list__valid-token-message" *ngIf="validTokenState()">
      <span>success adding token</span>
    </div>
  </div>
  <div class="token-list__tokens">
    <div class="token-list__token-element" *ngFor="let token of getTokenList()">
      <img src="assets/delete-icon.png" alt="" class="token-list__delete-button" (click)="openConfirmDialog(token.tokenId, token.tokenName)">
      <span class="token-list__token-title" (click)="addTokenFromList(token.tokenId)">{{token.tokenName}}</span>
    </div>
  </div>
</div>
