@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import "app/styles/colors";
@import "app/styles/button";
@import "app/styles/margins";

body{
  background: $body_bg_color_dark_theme;
  //color: var(--tg-theme-text-color);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}
